<%- include("partials/header") -%>

<div class="container">

  <header>
    <a href="/" class="logo">sendapoem</a>

    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <div class="smaller-content">
      <h1 class="center large-h1" style="margin-bottom: 0;">You Did It!</h1>
      <p class="subhead center">copy the poem below, or use it as inspiration to write your own. Thanks for spreading a little bit of joy. 🙂</p>
    </section>
</div>

<hr>

  <div class="poem-card">
    <textarea class="poem" id="poem" rows="<%- lines %>">
<%- poem %>—From <%= name %> <3</textarea>
<button onclick="copyPoem()">Copy Poem</button>
  </div>


<%- include("partials/footer") -%>
